*{
    box-sizing: border-box;
}

h1{
    margin: 0;
    color: black;
    opacity: 20%;
}

#usePrompt{
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px;
    margin: 15px;
    background-color: darkgray;
}

#row{
    display: flex;
    flex-flow: row;
}

#usePrompt:hover{
    cursor: pointer;
}

#usePrompt:active{
    background-color: gray;
}

#calc{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    width: 50%;
    background-color: black;
}

#grid{
    display: flex;
    width: 66%;
    flex-flow: row wrap;
    padding-left: 5%;
}

#numbers{
    padding: 0 5%;
    width: 90%;
    height: 100px;
    color: white;
    background-color: gray;
    margin: 5%;
    text-align: right;
    font-size: 3rem;
}

.num{
    width: 25%;
    background-color: darkgray;
    padding: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    flex-grow: 1;
    color: black;
    text-align: center;
    font-size: 2rem;
}

#operators{
    width: 29%;
    padding: 0% 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.op{
    width: 100%;
    margin-bottom: 10%;
}

.num:hover{
    cursor: pointer;
}

.num:active{
    background-color: gray;
}